.body{
    background-color: #080E30;
}
.some{
    
    background-color:#080E30;
    color: #FAFAFF;
    padding: 20 px;
}

.resume-list {
    list-style-type: none;
    padding: 30px; 
  }
  
  .resume-item {
    margin-bottom: 30px; 
  }
  
    .middle {
        text-align: center;
      }
      
  